{% extends 'base.html' %}
{% load static %}
{% block content %}
    <script src="{% static 'js/network_run.js' %}"></script>
    <link rel=stylesheet type="text/css" href="{% static 'css/network.css' %}" />
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <form action="/ws/network/train/" method="POST" class="form-vertical text-left" id="init-form">
                    {% csrf_token %}
                    <div class="form-group model-select text-left">
                        <label>Select architechture:</label>
                        {{ networkLayersForm.model }}
                        <button class="btn btn-success" id="model-select-btn">OK</button>
                    </div>
                    <div class="form-group weight-select text-left" hidden>
                        <label>Weight coeff. set</label>
                    </div>
                    <div class="form-group text-left">
                        <label for="">Epochs:</label>
                        <input type="number" name="epochs" value='5'>
                    </div>
                    <div class="form-group text-left">
                        <label>Input interval:</label>
                        <span>From </span><input type="number" name="from" value=1><span> till </span><input type="number" name="till" value=100>
                    </div>
                    <div class="form-group text-left">
                        <label>Batches:</label>
                        <input type="number" name="batch-size" value='5'>
                    </div>
                    <div id="plot-model-div">
                        <img src="" alt="">
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <button class="btn btn-success btn-buy" id="start-learn-btn">Начать обучение</button>
                <div class="status" id='status' hidden >
                    <p class="message"></p>
                    <p>Error: <span class="error-val"></span>.</p>
                    <p>Accurasy: <span class="acc-val"></span>.</p>
                    <p>Epochs: <span class="current-epoch"></span> из <span class="epochs"></span></p>
                    <p>Batches: <span class="current-batch"></span> из <span class="batches"></span></p>
                    <div class="test-result" hidden>
                        <p>Accurasy on test set: <span class="test-err"></span></p>
                        <p>% of correctly classified images: <span class="percent"></span></p>
                    </div>
                </div>
                <div id="plot-div">
                    <img src="" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div id="status_log">
                    
                </div>
            </div>
        </div>
    </div>
{% endblock content %}